:root {
    --green-text: #2f2;
    --background: black;
    --lighter-bg: rgb(1, 19, 3);
    --font-color: white;
    --clickedColor: #69b919;
    --sCanvaWidth: 900px;
}

h1, h2, h4 { color: var(--green-text); }
p { color: var(--font-color); }

body {
    margin: 0;
    overflow-x: hidden;
    width: 101vw;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    background-color: var(--background);
    text-align: -webkit-center;
    text-align: -moz-center;
    background: url(img/matrix2.png);
    background-repeat: repeat-x;
    background-size: auto;
    background-color: black;
}

#body-container { 
    width: 40vw;
    min-width: 700px;
}

ul {
    text-decoration: none;
    list-style-type: none;
    display: block;
}

#nav { 
    display: -webkit-box;
    width: fit-content;
}

li {
    padding-right: 10px;
    display: inline;
}

#socialList > li { 
    display: block;
}

a { color: var(--green-text) }

.footer {
    margin-top: 95%
}

.peepoclap {
    width: 20px;
}

.content {
    display: none;
    background-color: var(--lighter-bg);
    padding: 5px;
    margin: 5px;
}

.smallFont { font-size: 10px; }

.descLink { margin-top: 0; margin-bottom: 0; }

.descTop {  margin-bottom: 0;  }

.yt-thumb {
    display: block;
    width: 50px;
}

.yt-thumb {
    border-radius: 50%;
}

footer > a, p {
    display: inline;
}

#sapin {
    margin-top: 10%;
    width: 200px;
}
.ff-inactive {
    width: 200px !important;
}
yellow { color: yellow }
white { color: white }

/* COBRINHA */

#snakeGame { 
    text-align: center;
    align-content: center;
    margin: 0;
    padding: 0;
}

#snakeDebug { 
    top: 90%;
    width: 100%;
    height: 100%;
}

#snakeDebug * {
    display: inline-block;
    margin: 5px;
}

#snakeCanvaContainer { 
    /* background-color: rgb(75 21 21 / 55%); */
    top: 0;
    width: 100%;
    height: 800px;
    /* transform: translate(-50%, -50%); */

    /* left: calc(100% - var(--sCanvaWidth)/2 ); */
}

#snakeCanva {
    background: rgb(28, 46, 2);
    width: 35vw !important;  /*  REMOVER IMPORTANT DEPOIS (má prática)*/
    margin-top: 30px;
}