
body { 
    background: black;
    color: #ffffff;
    text-align: center;
}

.todoCheck, .todoDesc, .todoX { 
    padding: 5px;
}

#clearAll { 
    background: red;
    border-color: rgb(144, 25, 25);
}

#addItem { 
    background: lime;
    border-color: green;
    color: white;
    font-weight: bolder;
    font-family:
}
